Repository ajharry69/xently-shopping-mobile, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, attributes, brands, compare-products, core-ui, location-tracker, measurement-units, products, recommendations, shop, store, remote-data-source, app, resources, dependencies, properties, ignore, gradle, documentation, CI

Update product addition implementation (#31)
  app/src/main/java/ke/co/xently/shopping/features/attributes/models/Attribute.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/models/AttributeValue.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/ui/AddAttributesPage.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/models/Brand.kt
  app/src/main/java/ke/co/xently/shopping/features/core/models/SynonymStructure.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/models/MeasurementUnit.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitQuantityPage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/MeasurementUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/MeasurementUnitNameUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/MeasurementUnitQuantityUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/components/MeasurementUnitQuantityTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/MeasurementUnitQuantity.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/Product.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/ProductName.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductStep.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/ProductViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/components/AddProductAutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddGeneralDetailsPage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddProductNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/ProductNameUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/SummaryPage.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/models/Shop.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/ui/AddShopPage.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/ui/ShopUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/models/Store.kt
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
  app/src/main/res/values/strings.xml
Labels: none

Allow product addition with multi-dimensional measurement unit quantities
  app/src/main/java/ke/co/xently/shopping/features/core/NumberExtensions.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitQuantityPage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/components/MeasurementUnitQuantityTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/MeasurementUnitQuantity.kt
  app/src/main/res/values/strings.xml
Labels: none

Add privacy policy & terms of service
  .github/workflows/android.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  app/src/alpha/java/ke/co/xently/shopping/BaseURL.kt
  app/src/beta/java/ke/co/xently/shopping/BaseURL.kt
  app/src/main/java/ke/co/xently/shopping/XentlyNavHost.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/NetworkModule.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestState.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/core/Utils.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/MeasurementUnitQuantity.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseScreen.kt
  app/src/main/java/ke/co/xently/shopping/ui/MainUI.kt
  app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/strings.xml
  app/src/release/java/ke/co/xently/shopping/BaseURL.kt
Labels: app

Allow product addition with multi-dimensional measurement unit quantities (#33)
  .github/workflows/android.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  app/src/alpha/java/ke/co/xently/shopping/BaseURL.kt
  app/src/beta/java/ke/co/xently/shopping/BaseURL.kt
  app/src/main/java/ke/co/xently/shopping/XentlyNavHost.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/NetworkModule.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestState.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/core/NumberExtensions.kt
  app/src/main/java/ke/co/xently/shopping/features/core/Utils.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitQuantityPage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/components/MeasurementUnitQuantityTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/MeasurementUnitQuantity.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseScreen.kt
  app/src/main/java/ke/co/xently/shopping/ui/MainUI.kt
  app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/strings.xml
  app/src/release/java/ke/co/xently/shopping/BaseURL.kt
Labels: app

Update retrofit proguard rules
  app/proguard-rules.pro
Labels: none

Fix UI bugs
  app/src/main/java/ke/co/xently/shopping/MainViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/AuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/LocalAuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/repositories/AuthenticationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/workers/DeleteCurrentlySignedInUserOnSessionExpirationWorker.kt
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/users/UserDao.kt
  app/src/main/java/ke/co/xently/shopping/ui/MainUI.kt
  app/src/main/res/values/strings.xml
Labels: app

Keep data classes
  app/src/main/java/ke/co/xently/shopping/Xently.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/HttpException.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/SendHttpRequest.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributes/models/Attribute.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/models/AttributeValue.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/RequestPasswordResetRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/RequestPasswordResetResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/ResetPasswordRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/ResetPasswordResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignInRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignInResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/repositories/AuthenticationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/models/Brand.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/models/MpesaPaymentRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/models/CompareProduct.kt
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/models/ComparisonListItem.kt
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/core/OrderBy.kt
  app/src/main/java/ke/co/xently/shopping/features/core/models/Location.kt
  app/src/main/java/ke/co/xently/shopping/features/core/models/RemoteSearchResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/models/MeasurementUnit.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/MeasurementUnitQuantity.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/Product.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/ProductName.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/DecryptionCredentials.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/Recommendation.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/RecommendationResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/models/Shop.kt
  app/src/main/java/ke/co/xently/shopping/features/store/models/Store.kt
  app/src/main/java/ke/co/xently/shopping/features/users/User.kt
  build.gradle
  dependencies.firebase.gradle
Labels: dependencies

Monitor compare products usage
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestScreen.kt
Labels: none

Add auth credentials to websocket requests
  app/build.gradle
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/NetworkModule.kt
Labels: dependencies

Replace `HttpClient` engine to fix `TLSClientHandshake.handleCertificatesAndKeys` error
  app/build.gradle
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/NetworkModule.kt
Labels: dependencies

Increment version code
  app/build.gradle
Labels: dependencies

Simplify websocket response reception
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/components/AddProductAutoCompleteTextField.kt
Labels: none

Update greetings.yml
  .github/workflows/greetings.yml
Labels: none

Remove unnecessary comment
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
Labels: none

Avoid showing duplicate autocomplete response suggestions
  app/src/main/java/ke/co/xently/shopping/features/attributes/datasources/remoteservices/AttributeAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/datasources/remoteservices/AttributeValueAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/datasources/remoteservices/BrandAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/datasources/remoteservices/MeasurementUnitAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/products/datasources/remoteservices/ProductAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/datasources/remoteservices/ShopAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreAutoCompleteService.kt
Labels: none

Update greetings.yml
  .github/workflows/greetings.yml
Labels: none

Update greetings.yml
  .github/workflows/greetings.yml
Labels: none

Continue showing the keyboard when search suggestion query is blank
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/autocomplete/AutoCompleteTextField.kt
Labels: none

Paraphrase issue and PR messages for improved clarity (#38)
  .github/workflows/greetings.yml
Labels: none

Improve `AutoCompleteTextField` performance (#43)
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributes/datasources/remoteservices/AttributeAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/datasources/remoteservices/AttributeValueAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/datasources/remoteservices/BrandAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/autocomplete/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/datasources/remoteservices/MeasurementUnitAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/products/datasources/remoteservices/ProductAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/components/AddProductAutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/datasources/remoteservices/ShopAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreAutoCompleteService.kt
Labels: none

Remove unnecessary `rememberUpdatedState` and use `produceState`
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestScreen.kt
Labels: none

Order compare product and recommendation request items with the default configurations
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestUIState.kt
  app/src/main/res/values/strings.xml
Labels: none

Remove unused resources
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: none

Disable M-Pesa payment button if phone number is blank
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreenState.kt
  app/src/main/res/values/strings.xml
Labels: none

Render recommendation and product comparison request items from the top (#57)
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/ui/CompareProductRequestUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestUIState.kt
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/strings.xml
Labels: none

Disable M-Pesa payment button if phone number is blank (#58)
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreenState.kt
  app/src/main/res/values/strings.xml
Labels: none

Optimise code
  app/src/main/java/ke/co/xently/shopping/XentlyNavHost.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/ui/AddAttributesPage.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/ui/AddBrandsPage.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/MultiStepScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitQuantityPage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/components/AddProductAutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddGeneralDetailsPage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddProductNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/GeneralDetailUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/SummaryPage.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/ui/AddShopPage.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
  app/src/main/res/values/strings.xml
Labels: none

Simplify autocomplete service
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/AutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
Labels: none

Optimise websocket session initialisation and closure
  app/src/main/java/ke/co/xently/shopping/MainActivity.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/AutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
Labels: none

Change approach to showing first suggestion for autocomplete
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/ui/AddAttributesPage.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/ui/AddBrandsPage.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddProductNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/ui/AddShopPage.kt
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
Labels: none

Optimise Android CI build
  .github/workflows/android.yml
Labels: none

No-deamon and use verbose task option for better readability
  .github/workflows/android.yml
Labels: none

Fix typo for daemon option
  .github/workflows/android.yml
Labels: none

Speedup unit test runs
  .github/workflows/android.yml
Labels: none

Optimise Android CI build (#61)
  .github/workflows/android.yml
Labels: none

Optimise autocomplete (#59)
  app/src/main/java/ke/co/xently/shopping/MainActivity.kt
  app/src/main/java/ke/co/xently/shopping/XentlyNavHost.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/AutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/ui/AddAttributesPage.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/ui/AddBrandsPage.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/MultiStepScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitQuantityPage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/components/AddProductAutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddGeneralDetailsPage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddProductNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/GeneralDetailUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/SummaryPage.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/ui/AddShopPage.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
  app/src/main/res/values/strings.xml
Labels: none

Version 3
  app/build.gradle
Labels: dependencies

Update deployment configuration
  .github/workflows/deploy.yml
Labels: none

Use service account path from auth
  .github/workflows/deploy.yml
Labels: none

Revert "Use service account path from auth"
  .github/workflows/deploy.yml
Labels: none

.github/labeler.yml:

feature:
  - app/src/main/java/ke/co/xently/shopping/ui/features/**

attributes:
  - app/src/main/java/ke/co/xently/shopping/ui/features/attributes/**
  - app/src/main/java/ke/co/xently/shopping/ui/features/attributevalues/**

brands:
  - app/src/main/java/ke/co/xently/shopping/ui/features/brands/**

compare-products:
  - app/src/main/java/ke/co/xently/shopping/ui/features/compareproducts/**

core-ui:
  - app/src/main/java/ke/co/xently/shopping/ui/features/core

location-tracker:
  - app/src/main/java/ke/co/xently/shopping/ui/features/locationtracker/**

measurement-units:
  - app/src/main/java/ke/co/xently/shopping/ui/features/measurementunit/**

products:
  - app/src/main/java/ke/co/xently/shopping/ui/features/products/**

recommendations:
  - app/src/main/java/ke/co/xently/shopping/ui/features/recommendations/**

shop:
  - app/src/main/java/ke/co/xently/shopping/ui/features/shop/**

store:
  - app/src/main/java/ke/co/xently/shopping/ui/features/store/**

remote-data-source:
  - app/src/main/java/ke/co/xently/shopping/ui/remotedatasource/**

app:
  - app/src/main/java/ke/co/xently/shopping/ui/**
  - app/src/main/java/ke/co/xently/shopping/ui/*.kt

resources:
  - app/src/*/res

dependencies:
  - '**/build.gradle'

properties:
  - '**/*.properties'

ignore:
  - '**/.gitignore'

gradle:
  - gradle/**
  - 'settings.gradle'
  - 'gradlew'
  - 'gradlew.bat'

documentation:
  - 'README.md'

CI:
  - '.github/workflows/'
