Repository ajharry69/xently-shopping-mobile, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, attributes, brands, compare-products, core-ui, location-tracker, measurement-units, products, recommendations, shop, store, remote-data-source, app, resources, dependencies, properties, ignore, gradle, documentation, CI

.github/labeler.yml:

feature:
  - app/src/main/java/ke/co/xently/shopping/ui/features/**

attributes:
  - app/src/main/java/ke/co/xently/shopping/ui/features/attributes/**
  - app/src/main/java/ke/co/xently/shopping/ui/features/attributevalues/**

brands:
  - app/src/main/java/ke/co/xently/shopping/ui/features/brands/**

compare-products:
  - app/src/main/java/ke/co/xently/shopping/ui/features/compareproducts/**

core-ui:
  - app/src/main/java/ke/co/xently/shopping/ui/features/core

location-tracker:
  - app/src/main/java/ke/co/xently/shopping/ui/features/locationtracker/**

measurement-units:
  - app/src/main/java/ke/co/xently/shopping/ui/features/measurementunit/**

products:
  - app/src/main/java/ke/co/xently/shopping/ui/features/products/**

recommendations:
  - app/src/main/java/ke/co/xently/shopping/ui/features/recommendations/**

shop:
  - app/src/main/java/ke/co/xently/shopping/ui/features/shop/**

store:
  - app/src/main/java/ke/co/xently/shopping/ui/features/store/**

remote-data-source:
  - app/src/main/java/ke/co/xently/shopping/ui/remotedatasource/**

app:
  - app/src/main/java/ke/co/xently/shopping/ui/**
  - app/src/main/java/ke/co/xently/shopping/ui/*.kt

resources:
  - app/src/*/res

dependencies:
  - '**/build.gradle'

properties:
  - '**/*.properties'

ignore:
  - '**/.gitignore'

gradle:
  - gradle/**
  - 'settings.gradle'
  - 'gradlew'
  - 'gradlew.bat'

documentation:
  - 'README.md'

CI:
  - '.github/workflows/'

Add Google crashlytics and performance monitoring integration (#24)
  .gitattributes
  .gitignore
  app/build.gradle
  app/google-services.json
  app/src/main/AndroidManifest.xml
  app/src/main/java/ke/co/xently/shopping/Xently.kt
  build.gradle
  gradle.properties
Labels: dependencies, properties, ignore

Setup automated deployment to Google play store
  .github/workflows/deploy.yml
  app/build.gradle
  app/google-services.json
  app/src/alpha/res/values/strings.xml
  app/src/beta/res/values/strings.xml
  app/src/debug/AndroidManifest.xml
  app/src/debug/res/values/strings.xml
  app/src/main/AndroidManifest.xml
  config.common.gradle
  dependencies.firebase.gradle
  secrets/keystore.properties
  secrets/private_key.pepk
  secrets/service-account.json
  secrets/store-file.jks
  whatsnew/whatsnew-en-GB
  whatsnew/whatsnew-en-US
Labels: dependencies, properties

Fix R8 minification bugs
  app/build.gradle
  app/proguard-rules.pro
  build.gradle
Labels: dependencies

Disable performance monitoring in debug
  app/build.gradle
Labels: dependencies

Use release Google maps API key during deployment
  .github/workflows/deploy.yml
Labels: none

Add icons
  app/src/beta/ic_launcher-playstore.png
  app/src/beta/res/drawable/ic_launcher_background.xml
  app/src/beta/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/beta/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/beta/res/mipmap-hdpi/ic_launcher.webp
  app/src/beta/res/mipmap-hdpi/ic_launcher_foreground.webp
  app/src/beta/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/beta/res/mipmap-mdpi/ic_launcher.webp
  app/src/beta/res/mipmap-mdpi/ic_launcher_foreground.webp
  app/src/beta/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/beta/res/mipmap-xhdpi/ic_launcher.webp
  app/src/beta/res/mipmap-xhdpi/ic_launcher_foreground.webp
  app/src/beta/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/beta/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/beta/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  app/src/beta/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/beta/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/beta/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  app/src/beta/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/ic_launcher-playstore.png
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Labels: none

Add authentication
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/AuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/RequestPasswordResetRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/RequestPasswordResetResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/ResetPasswordRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/ResetPasswordResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignInRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignInResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/repositories/AuthenticationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/repositories/di/RepositoryModule.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/components/PasswordTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/requestpasswordreset/RequestPasswordResetScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/requestpasswordreset/RequestPasswordResetState.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/requestpasswordreset/RequestPasswordResetViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/resetpassword/ResetPasswordScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/resetpassword/ResetPasswordState.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/resetpassword/ResetPasswordViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signin/SignInScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signin/SignInState.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signin/SignInViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpState.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpViewModel.kt
Labels: none

Reuse password text field
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signin/SignInScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpScreen.kt
Labels: none

Use string resources for the UI labels
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/components/PasswordTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/requestpasswordreset/RequestPasswordResetScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/resetpassword/ResetPasswordScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signin/SignInScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpScreen.kt
  app/src/main/res/values/strings.xml
Labels: none

Implement local and remote authentication data sources
  app/build.gradle
  app/src/main/java/ke/co/xently/shopping/datasource/local/Database.kt
  app/src/main/java/ke/co/xently/shopping/datasource/local/di/StorageModule.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/AuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/LocalAuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/RemoteAuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/di/DatasourceModule.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/remoteservices/AuthenticationService.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/RequestPasswordResetResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/ResetPasswordResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignInResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/repositories/AuthenticationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/users/User.kt
  app/src/main/java/ke/co/xently/shopping/features/users/UserDao.kt
  db-schemas/ke.co.xently.shopping.datasource.local.Database/1.json
Labels: dependencies

Authenticate user
  app/build.gradle
  app/src/main/java/ke/co/xently/shopping/CompositionLocals.kt
  app/src/main/java/ke/co/xently/shopping/MainActivity.kt
  app/src/main/java/ke/co/xently/shopping/MainViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/AuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/LocalAuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/remoteservices/AuthenticationService.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/repositories/AuthenticationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/users/User.kt
  app/src/main/java/ke/co/xently/shopping/features/users/UserDao.kt
  app/src/main/java/ke/co/xently/shopping/ui/MainUI.kt
  app/src/main/java/ke/co/xently/shopping/ui/NavigationRoute.kt
  app/src/main/java/ke/co/xently/shopping/ui/XentlyNavHost.kt
  app/src/main/res/values/strings.xml
  db-schemas/ke.co.xently.shopping.datasource.local.Database/1.json
Labels: app, dependencies

Set maximum lines on text fields and add relevant IME actions
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/components/EmailTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/components/PasswordTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/requestpasswordreset/RequestPasswordResetScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/resetpassword/ResetPasswordScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signin/SignInScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpScreen.kt
Labels: none

Show snackbar, hide keyboard on form submission button click and fix success navigation bug
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/requestpasswordreset/RequestPasswordResetScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/resetpassword/ResetPasswordScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signin/SignInScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/ui/signup/SignUpScreen.kt
  app/src/main/java/ke/co/xently/shopping/ui/XentlyNavHost.kt
Labels: app

Delete signed in user if the token is expired
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/ke/co/xently/shopping/MainActivity.kt
  app/src/main/java/ke/co/xently/shopping/Xently.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/AuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/LocalAuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/RequestPasswordResetResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/ResetPasswordResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignInResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/models/SignUpResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/workers/DeleteCurrentlySignedInUserOnSessionExpirationWorker.kt
  app/src/main/java/ke/co/xently/shopping/features/users/User.kt
  app/src/main/java/ke/co/xently/shopping/features/users/UserDao.kt
  db-schemas/ke.co.xently.shopping.datasource.local.Database/1.json
Labels: dependencies

Move remotedatasource package
  app/src/main/java/ke/co/xently/shopping/datasource/remote/CacheControl.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/Exclude.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/HttpException.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/SendHttpRequest.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/Serialization.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/NetworkModule.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/qualifiers/CacheInterceptor.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/qualifiers/RequestHeadersInterceptor.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/di/qualifiers/RequestQueriesInterceptor.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/exceptions/WebsocketConnectionFailedException.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/exceptions/WebsocketException.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/AutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/datasource/remote/services/WebsocketAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributes/datasources/RemoteAttributeDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/attributes/datasources/remoteservices/AttributeAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributes/datasources/remoteservices/AttributeService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/datasources/RemoteAttributeValueDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/datasources/remoteservices/AttributeValueAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/datasources/remoteservices/AttributeValueService.kt
  app/src/main/java/ke/co/xently/shopping/features/authentication/datasources/RemoteAuthenticationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/datasources/RemoteBrandDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/datasources/remoteservices/BrandAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/datasources/remoteservices/BrandService.kt
  app/src/main/java/ke/co/xently/shopping/features/compareproducts/datasources/RemoteCompareProductDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/core/ui/components/AutoCompleteSearchResults.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/datasources/RemoteMeasurementUnitDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/datasources/remoteservices/MeasurementUnitAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/products/datasources/RemoteProductDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/products/datasources/remoteservices/ProductAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/components/AddProductAutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/RemoteRecommendationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/datasources/RemoteShopDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/datasources/remoteservices/ShopAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/RemoteStoreDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreService.kt
Labels: none

Store recommendations locally upon fetching from remote
  app/src/main/java/ke/co/xently/shopping/datasource/local/Database.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/LocalMpesaPaymentDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/MpesaPaymentDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/RemoteMpesaPaymentDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/di/DatasourceModule.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/remoteservices/MpesaPaymentService.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/models/MpesaPaymentRequest.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/repositories/MpesaPaymentRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/repositories/di/RepositoryModule.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestState.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/LocalRecommendationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/RecommendationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/RemoteRecommendationDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/di/DatasourceModule.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/local/RecommendationDao.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/remoteservices/RecommendationService.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/DecryptionCredentials.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/MapperExtesions.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/Recommendation.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/RecommendationResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/repositories/RecommendationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/State.kt
  app/src/main/java/ke/co/xently/shopping/features/security/DataEncryption.kt
  app/src/main/java/ke/co/xently/shopping/features/users/UserDao.kt
  app/src/main/java/ke/co/xently/shopping/ui/MainUI.kt
  app/src/main/java/ke/co/xently/shopping/ui/NavigationRoute.kt
  app/src/main/java/ke/co/xently/shopping/ui/XentlyNavHost.kt
  app/src/main/res/values/strings.xml
  db-schemas/ke.co.xently.shopping.datasource.local.Database/1.json
Labels: app

Show recommendation response on a different screen
  app/src/main/java/ke/co/xently/shopping/BottomSheet.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/RecommendationResponse.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationResponseScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/NavigationUtils.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseState.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/SortParameter.kt
  app/src/main/java/ke/co/xently/shopping/ui/MainUI.kt
  app/src/main/java/ke/co/xently/shopping/ui/XentlyNavHost.kt
  app/src/main/java/ke/co/xently/shopping/ui/components/ModalBottomSheet.kt
  app/src/main/res/values/strings.xml
Labels: app

Navigate to Mpesa checkout screen
  app/src/main/java/ke/co/xently/shopping/MainActivity.kt
  app/src/main/java/ke/co/xently/shopping/NavigationRoute.kt
  app/src/main/java/ke/co/xently/shopping/XentlyNavHost.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseScreen.kt
  app/src/main/java/ke/co/xently/shopping/ui/MainUI.kt
Labels: app

Centrally include authorization token to all requests
  app/src/main/java/ke/co/xently/shopping/NavigationRoute.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/LocalMpesaPaymentDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/MpesaPaymentDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/RemoteMpesaPaymentDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/remoteservices/MpesaPaymentService.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/repositories/MpesaPaymentRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/SortParameter.kt
  app/src/main/java/ke/co/xently/shopping/remotedatasource/di/NetworkModule.kt
Labels: none

Pay for recommendations using M-Pesa
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/RemoteMpesaPaymentDataSource.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/datasources/remoteservices/MpesaPaymentService.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/datasources/local/RecommendationDao.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/MapperExtesions.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/models/Recommendation.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/repositories/RecommendationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/RecommendationResponseDetailsScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/components/HitItem.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/components/StoreRecommendationSummaryItem.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/models/Shop.kt
  app/src/main/java/ke/co/xently/shopping/features/store/models/Store.kt
  app/src/main/res/values/strings.xml
Labels: none

Confirm payment while still on checkout screen
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentRequestState.kt
  app/src/main/java/ke/co/xently/shopping/features/collectpayments/ui/MpesaPaymentViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseScreen.kt
  app/src/main/res/values/strings.xml
Labels: none

Save decryption credentials
  app/src/main/java/ke/co/xently/shopping/features/recommendations/repositories/RecommendationRepository.kt
Labels: none

Fix NullPointerException
  app/src/main/java/ke/co/xently/shopping/features/recommendations/repositories/RecommendationRepository.kt
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/response/RecommendationResponseScreen.kt
Labels: none

Provide default local properties
  app/build.gradle
  local.defaults.properties
Labels: dependencies, properties

Strike through redacted shop name alternative
  app/src/main/java/ke/co/xently/shopping/features/recommendations/ui/components/StoreRecommendationSummaryItem.kt
Labels: none

Rename `attributes` variable to `attributeValues`
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/ui/AddAttributesPage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/Product.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/ProductViewModel.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/SummaryPage.kt
Labels: none

Replace `LocalDateTime` with `OffsetDateTime`
  app/src/main/java/ke/co/xently/shopping/features/products/models/Product.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddGeneralDetailsPage.kt
Labels: none

Fix compose key error
  app/src/main/java/ke/co/xently/shopping/features/recommendations/repositories/RecommendationRepository.kt
Labels: none

Add slug
  app/src/main/java/ke/co/xently/shopping/features/attributes/models/Attribute.kt
  app/src/main/java/ke/co/xently/shopping/features/attributesvalues/models/AttributeValue.kt
  app/src/main/java/ke/co/xently/shopping/features/brands/models/Brand.kt
  app/src/main/java/ke/co/xently/shopping/features/core/models/SynonymStructure.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/models/MeasurementUnit.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitPage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/Product.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/ProductName.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddProductNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/models/Shop.kt
  app/src/main/java/ke/co/xently/shopping/features/store/models/Store.kt
Labels: none

Rename functions
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
Labels: none

Split out measurement quantity addition page
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitQuantityPage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/MeasurementUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/MeasurementUnitNameUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/MeasurementUnitQuantityUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductScreen.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/AddProductStep.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/ProductViewModel.kt
  app/src/main/res/values/strings.xml
Labels: none

Simplify generated descriptive name
  app/src/main/java/ke/co/xently/shopping/features/products/models/Product.kt
Labels: none

Save multi-dimensional measurement unit quantity
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/AddMeasurementUnitQuantityPage.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/MeasurementUnitQuantityUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/measurementunit/ui/components/MeasurementUnitQuantityTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/MeasurementUnitQuantity.kt
  app/src/main/java/ke/co/xently/shopping/features/products/models/Product.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/AddProductNamePage.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/ProductNameUIState.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/subscreens/SummaryPage.kt
  app/src/main/res/values/strings.xml
Labels: none

Sort store search results by distance from users current location
  app/src/main/java/ke/co/xently/shopping/features/store/datasources/remoteservices/StoreAutoCompleteService.kt
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
Labels: none

Fix a bug where the first suggestion selection would not hide the other suggestions
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
Labels: none

De-clutter file - move state class to own file
  app/src/main/java/ke/co/xently/shopping/features/shop/ui/AddShopPage.kt
  app/src/main/java/ke/co/xently/shopping/features/shop/ui/ShopUIState.kt
Labels: none

Avoid unnecessary location updates
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
Labels: none

Remove unnecessary parameter
  app/src/main/java/ke/co/xently/shopping/features/core/ui/AutoCompleteTextField.kt
  app/src/main/java/ke/co/xently/shopping/features/products/ui/components/AddProductAutoCompleteTextField.kt
Labels: none

Revert previous location update query
  app/src/main/java/ke/co/xently/shopping/features/store/ui/AddStorePage.kt
Labels: none

Fix failing tests
  app/src/androidTest/java/ke/co/xently/shopping/ExampleInstrumentedTest.kt
Labels: none
